* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway&display=swap');

body{
    background-color:hsl(257, 40%, 49%) ;
}

.backimg{
    display: flex;
    
   justify-content: center;
   /* align-items: center;
   align-content: center; */
}

.imgb{
   width: 100%;
   height: auto;
   z-index: 0;
}
.logoimg{
    z-index: 1;
    position:absolute;
    top: 0%;
    margin: 20px 0 5 3px;
    padding: 12px 10px;
    width: 30%;
    height:auto;

}

.mock{
    display: flex;
}

.mockimg{
    width: 75%;
    top: 25%;
    left: 15%;
    z-index: 1;
    position: absolute;
}

.para1 {
    
    color:whitesmoke;
    font-family: 'Roleway', sans-serif;
    font-size: 7vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4%;

}

#para2{
    font-size: 3vmax;
    margin-top:25px ;
    font-weight: 5;
    color: rgba(255, 255, 255, 0.637);
   
}

/* .para2{
    display: flex;
    font-size:3vmin;
    align-items: center;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    margin-top: 4%;
    align-items: center;
} */
a{
    background-color: whitesmoke;
    text-decoration: none;
    
    width: 60vw;
    border-radius: 50px;
    margin-top: 15px;
    display: flex;
    height: 8vmax;
    justify-content: center;
    align-items: center;

    
  
}
a:hover{
    background-color: hsl(300, 69%, 71%);
    
}


span{
    font-size: 2.3vmax;
    color:hsl(257, 40%, 49%) ;
    font-family: 'Poppins', sans-serif;
    
}

.brands{
    display: flex;
    justify-content: space-around;
    margin: 25%;
    width: 50%;
    
}

.fa{
    width: 15px;
    height:15px;
    color: rgba(245, 245, 245, 0.774);
    border: 0.5px solid whitesmoke;
    border-radius: 50px;
    
    text-align:center;
    
  
}

.brands i{
    text-align: center;
}

